/* CSSではおもに,htmlファイルのクラスと要素のデザインを設定します*/


/* .クラス名　で設定するクラスを選択します。”main”を選択します*/
body{
   background-color: #fff;
   font-family:serif;
    padding: 0;
    margin: 0;
}

h{
    font-family: cursive;
}

p{
 
}

.ue{
    margin-top: 0;
    padding: 6;
    background-color: #222222;
    
}

.midashi{
   
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    color: aliceblue
}

.head{
   margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 64px;
    padding: :8px;
    text-align: center
}

.menu{
    display: inline-flex;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 48px;
    cursor: default;
    color: aliceblue;
}

.menu a{
    /*ヘッダーの文字全体*/
    text-decoration: none;
    color: inherit;
}


.category1{
    position: relative;
    padding: 0 6px;
    height: 62px;
    width: 130px;
}

.menu>*:first-child{
    /*ヘッダーの頭をいじる*/
    padding-left: 0;
    list-style: none;
}

.menu>*:last-child{
    /*ヘッダーのお尻をいじる*/
    padding-right: 0;
}

.menu1{
    display: inline-block;
    width: 120px;
    height: 54px;
    line-height: 46px;
    font-size:20px;
    margin-top: 10px;
    padding: 0 12px;;
    list-style: none;
   white-space: nowrap;
}



.category1:hover>.menu1,
.menu>a:hover>.category>.menu
{
    /*合わせた時の色の変化*/
  background-color: beige;
    color: black;
}

.menu2{


padding: 0;
   width: auto;
    position: absolute;
    height: 0;
    width: 145px;
    list-style: none;
     text-align: center;
    overflow: hidden;
    background-color:black;
   
}

.category1:hover>.menu2{
    height: auto;
    padding: 6px 0;
}

.menu2>.menu3,
.menu2>.menu3{
    cursor: pointer;
    height: 102px;
    line-height: 20px;
    padding: 6px 12px;
    font-size: 18px;
    white-space: nowrap;
}

.menu4{
    
    display: inline-block;
    width: 120px;
    height: 54px;
    line-height: 46px;
    font-size:20px;
    margin-top: 10px;
    padding: 0 12px;;
    list-style: none;
   white-space: nowrap;
    color: coral;
    text-decoration: underline;

}

.head_m3{ 
}



.yoko{
    position: absolute;
     width: 200px;
    display: inline-flex;
    font-size: 30px;
    line-height: 250%;
    text-align: center;
    }

.yoko li{
    list-style: none;
}

.title{
    
    font-size: 60px;
    text-align: center;
    border: solid;
    border-radius: 8px;
}

.main{
  max-width: 800px;
  width:800px;

  /* mainの背景の色を水色にします。*/
  margin: 10px 300px;
  padding: 10px 10px 10px 10px;
 margin-left: auto;
    margin-right: auto;
    text-align: center;
    
/* cssのコマンドはたくさんあるので, 必要になったらその都度ネットで調べてコピペするといいでしょう。必ず終わりに；を忘れないように, c言語と同じような注意点です。cssは, 1つエラーがあると, ドミノ倒し式に, 他のコマンドもエラーになります。試しに；や｝を一つ消してみてください。*/
    
}

/* クラスsubのデザインも同様変えます*/
.sub{
    max-width:900px;
    height: 600px;

}


/* 要素のidを指定します。要素では,クラスと違い（　．）でなく＃を頭に描きます*/
#sub_id{
    font-size: 30px; 
    /* フォントサイズを30pxにします*/
}



@media screen and ( max-width:700px ){


.main{
  max-width:1000px;
     width:800px;
  background-color: yellow;
  margin: 100px;
    padding: 100px 10px 10px 10px;
    


}

 
    
p:hover{
    color: darkviolet;
}

