/* CSSではおもに,htmlファイルのクラスと要素のデザインを設定します*/


/* .クラス名　で設定するクラスを選択します。”main”を選択します*/

    


body{
   background-color: #fff;
   font:  "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 0px;
    margin: 0px;
    
}

h{
    font-family:inherit;

}


h1{
    font-size: 60px;
    font-family:;
    line-height: 2em
}

p{
 line-height: 1.5em;
     font-size: 20px;
}

.ue{
    width: 1550px;
    background-color: #FFF;
    background-color: ;
   
}

.midashi{
    width: 100%;
    text-align: left;
     color: black;
    font-size: 30px;
    margin-left: 5%;
    
}


.head{
    position: absolute;
    top: 0%;
    left: 480px;
    width:auto;
    padding: 8px;
    text-align:center;
}

.menu{
    display: inline-flex;
    cursor: default;
}

.menu a{
    /*ヘッダーの文字全体*/
    text-decoration: none;
    color: inherit;
}


.category1{
    position: relative;
    padding: 0 6px;
}

.menu>*:first-child{
    /*ヘッダーの頭をいじる*/
}

.menu>*:last-child{
    /*ヘッダーのお尻をいじる*/
}

.menu1{
    position: relative;
    display: inline-block;
    width: 130px;
    height: 54px;
    line-height: 46px;
    font-size:20px;
    margin-top: 10px;
    padding: 0 12px;
    transition: 0.2s;
}



.category1:hover .menu1
{
    /*合わせた時の色の変化*/
  background-color: #000088;
    color: #FFF;
}

.menu2{
 
   

    height: 0px;
    width: 120%;
        position: absolute;
   right:0;
    left: 0;
    list-style: none;
     text-align: center;
    overflow: hidden;
    background-color:#fff;
    transition: 0.2s;
    z-index: 1;
   
}

.category1:hover>.menu2{
    
    height: auto;
    transition: 0.2s;
}


.menu3{
    padding: 10px;
    
}




.menu3:hover{
    cursor: pointer;
    background-color: #000088;
    color: #FFF;
}

.menu3:hover>.menu1 {
    background-color: #FFF;
    color: black;
}

.menu4{
    
    display: inline-block;
    width: 130px;
    height: 54px;
    
    line-height: 46px;
    font-size:20px;
    margin-top: 10px;
    padding: 0 12px;
    list-style: none;
   white-space: nowrap;
    color: #000088;
    text-decoration: underline;
    text-underline-position: under;

}





.yoko{
    position: fixed;
     width: 200px;
    display: inline-flex;
    font-size: 30px;
    line-height: 250%;
    text-align: center;
    margin-left: 10px;
    }

.yoko li{
    list-style: none;
}

.yoko li:hover{
    text-decoration: underline;
}

.title{
    position: relative;
    width: 1550px;
    font-size: 80px;
    text-align: center;
    background-color: aqua;
    height: 510px;
    font-weight: 600;
    text-shadow: 5px 5px gray;
}

.title img{
    position: absolute;
    width: 100%;
    left:0;
}

.title a{
    position:absolute;
    left:3%;
    bottom: 3%;

}

.main{
    
max-width: 1000px;
  width: 1000px;

  /* mainの背景の色を水色にします。*/
  margin: 10px 300px;
  padding: 10px 10px 10px 10px;
    
margin-right: auto;
    text-align: left;
        
}

.main h1{
    text-decoration:underline;
    text-underline-position: under;
    
}

/* クラスsubのデザインも同様変えます*/







}

 
    

